
body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}


     /* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=number], input[type=email] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=radio]{
  font-size: 12px;
}

input[type=submit] {
  background-color: #373837;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #636863;
}

.radioGroup{
  padding-bottom: 10px;
}

.container {
  border-radius: 5px;
  background-color: #adbeca;
  padding: 20px;
}

.info, .success, .warning, .error, .validation {
  border-radius: 5px;
  margin: 10px 0px;
	padding: 15px 10px 15px 10px;
	background-repeat: no-repeat;
	background-position: 2px center;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.validation{
  color: #D63301;
  background-color: #FFCCBA;
}