body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

select {
  margin-bottom: 20px;
}

#app {
  line-height: 1.5;
  padding: 20px;
  padding-left: 40px;
}

label {
  font-size: 80%;
  padding-right: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="radio"] {
  font-size: 12px;
}

input[type="submit"] {
  background-color: #373837;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="date"] {
  background-color: #72787e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

input[type="submit"]:hover {
  background-color: #636863;
}

.radioGroup {
  padding-bottom: 10px;
}

.container {
  border-radius: 8px;
  background-color: #adbeca;
  padding: 20px;
  width: 400px;
}

.info,
.success,
.warning,
.error,
.validation {
  font-size: small;
  width: 400px;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px 10px 15px 10px;
  background-repeat: no-repeat;
  background-position: 2px center;
}

.info {
  color: #00529b;
  background-color: #bde5f8;
}
.success {
  color: #4f8a10;
  background-color: #dff2bf;
}

.warning {
  color: #9f6000;
  background-color: #feefb3;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
}

.validation {
  color: #d63301;
  background-color: #ffccba;
}

table {
  border-collapse: collapse;
  width: 500px;
  border-radius: 5px;
  margin-top: 20px;
}

td,
th {
  font-size: 16px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d7e3eb;
}

/* Taken from https://www.w3schools.com/html/ */
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid rgb(126, 145, 207);
  border-bottom: 2px solid rgb(121, 121, 153);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* Taken from https://www.w3schools.com/html/ */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Taken from https://www.w3schools.com/html/ */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #303d47;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(87, 129, 153);
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}
/* Taken from https://www.w3schools.com/html/ */

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}
/* Taken from https://www.w3schools.com/html/ */

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Taken from https://www.w3schools.com/html/ */
.footer {
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  margin-left: 50px;
  bottom: 0;
  width: 100%;
  color: rgb(87, 86, 86);
  text-align: center;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
